header {
    position: absolute;
    height: 35px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #999;
}

main {
    position: absolute;
    top: 35px;
    right: 0;
    bottom: 23px;
    left: 0;
    overflow: hidden;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 23px;
    padding-left: 4px;
    border-top: 1px solid #999;
}

.toolbar {
    margin-top: 5px;
    margin-left: 3px;
}

.toolbutton {
    font-size: 1.2em;
    color:black;
}

.toolbutton:disabled,
.toolbutton[disabled] {
    font-size: 1.2em;
    color: gray;
}

.statusbar {
    margin-top: 3px;
    vertical-align: bottom;
}

.webview-content {
    width: 100%;
}

.webview-container {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    top: 37px;
}

.search-box {
    display: none;
    position: absolute;
    top: 0;
    right: 3px;
    box-sizing: border-box;
    height: 35px;
    padding: 5px;
    background-color: #fff;
    border-left: 1px solid rgba(0,0,0,0.1);
    box-shadow: 1px 1px 0px rgba(0,0,0,0.3);
  }

.search-input {
    box-sizing: border-box;
    width: 220px;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.1);
    outline-width: 2px;
    padding-right: 30px;
}

.search-count {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 40px;  
}

.state-visible {
    display: block;
}

.url-input {
    box-sizing: border-box;
    width: 220px;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.1);
    outline-width: 2px;
    padding-right: 30px;
}
