<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fav list</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
  </head>
  <body>
    <div id="app">
      <v-app id="inspire">
        <template>
          <v-card
            class="mx-auto"
            min-width="800"
            tile
          >
            <v-list
              dense
            >
              <v-subheader>Favs</v-subheader>
              <v-list-item-group
                v-model="selectedItem"
                color="primary"
              >
                <v-list-item
                  v-for="(item, i) in favs"
                  :key="i"
                >
                  <v-list-item-content>
                    <v-list-item-title v-text="item.project"></v-list-item-title>
                    <a :href="item.url">{{ item.page }}</a>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
            <v-list
              dense
            >
              <v-subheader>History</v-subheader>
              <v-list-item-group
                v-model="selectedItem"
                color="primary"
              >
                <v-list-item
                  v-for="(item, i) in history"
                  :key="i"
                >
                  <v-list-item-content>
                    <v-list-item-title v-text="item.project"></v-list-item-title>
                    <a :href="item.url">{{ item.page }}</a>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </template>
      </v-app>
    </div>
    <script src="dashboard.js"></script>
  </body>
</html>
