<html>
  <head>
    <meta charset="UTF-8">
    <title>sbe</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
    <style scoped>
      *{ text-transform: none !important; }
    </style>
    </head>
  <body>
    <div id="app">
      <v-app id="inspire">
        <v-app-bar>
          <v-toolbar dense>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  v-bind="attrs"
                  v-on="on"
                  v-on:click="goBack"
                >
                  <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
              </template>
              <span>Go Back</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  v-bind="attrs"
                  v-on="on"
                  v-on:click="goForward"
                >
                  <v-icon>mdi-arrow-right</v-icon>
                </v-btn>
              </template>
              <span>Go Forward</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  v-bind="attrs"
                  v-on="on"
                >
                 <v-icon>mdi-reload</v-icon>
                </v-btn>
              </template>
              <span>Reload</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  v-bind="attrs"
                  v-on="on"
                  v-on:click="openPageList"
                >
                  <v-icon>mdi-view-list</v-icon>
                </v-btn>
              </template>
              <span>Open Page List</span>
            </v-tooltip>

            <div class="mx-4"></div>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  v-bind="attrs"
                  v-on="on"
                  v-on:click="openFavsPage"
                >
                  <v-icon>mdi-star-outline</v-icon>
                </v-btn>
              </template>
              <span>Favs</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  v-bind="attrs"
                  v-on="on"
                  v-on:click="openHistoryPage"
                >
                  <v-icon>mdi-history</v-icon>
                </v-btn>
              </template>
              <span>History</span>
            </v-tooltip>

            <v-spacer></v-spacer>

            <v-text-field
              v-model="searchText"
              label="search"
              dense
              clearable
              prepend-icon="mdi-magnify"
              @keydown.enter.pevent="searchStart"
              @keydown.escape.prevent="searchStop"
              @click:clear="searchStop"
              ref="searchText"
            ></v-text-field>

          </v-toolbar>

          <template v-slot:extension>
            <v-tabs
              v-model="tab"
              align-with-title
              show-arrows
              @change="selectPage"
            >
              <v-tabs-slider color="yellow"></v-tabs-slider>

              <v-tab
                v-for="item in items"
                :key="item.contentId"
              >
                <v-icon
                  v-if="item.icon"
                >{{ item.icon }}</v-icon>
                {{ item.title }}
                <v-btn
                  v-if="isActive(item.contentId) && items.length > 1"
                  icon
                  small
                  @click="closePage"
                >
                  <v-icon>mdi-close-box-outline</v-icon>
                </v-btn>
              </v-tab>
            </v-tabs>
          </template>
        </v-app-bar>
        <v-bottom-navigation
          v-model="message"
          height="35"
        >
          <v-sheet
            width="98%"
          >
            <div>
              {{ message }}
            </div>
          </v-sheet>
        </v-bottom-navigation>
      </v-app>
    </div>
    <script src="renderer.js"></script>
  </body>
</html>
